.collection-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35.16px;
    margin: 12px 0;
    max-width: 100%;
    text-align: left;
}
.products-count-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    color:#BABABA;
}
.collection-description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}
#toggle_description{
    color: #FF8139;
    cursor: pointer; 
}
#full_text_description{
    display: none;
}
.top-filter {
    justify-content: start;
    gap: 12px;
}
.nav-mk__standart-link{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #000000;
    transition: 0.2s;
}
.nav-mk__standart-link:hover{
    color: #FF8139;
}
.nav-mk__standart-link:active{
    color: #FFFFFF
}
.nav-mk__standart-grey{
    transition: 0.2s;
    background-color: #F4F2F1;
}
.nav-mk__standart-grey:hover{
    background-color: #EDEAE8;
}
.nav-mk__standart-grey:active{
    background-color: #FF8139;
}
.filter__reset_new {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 23px;
    top: -6px;
}
.wrap_banner{
    height: 40px;
    position: fixed;
    bottom: 0;
    z-index: 800;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.whatsapp-fix{
    width:300px;
    height:40px;
    border-radius:24px 32px 0 0;
    background-color:#01652e;
    text-decoration:none;
    position: static;
    cursor:pointer;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    z-index:1001;
    padding-left:10px;
}
.call-fix{
    height: 40px;
    background-color: #0698EC;
    padding: 6px 24px 6px 10px;
    gap: 8px;
    border-radius: 24px 32px 0px 0px;
    opacity: 0px;
    cursor:pointer;
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    z-index:1001;
    position: static;
}
.call_text, .whatsapp-fix span, .mail_baner span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #FFFFFF;
}
.call_text_phone{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    text-align: left;
    color: #FFFFFF;
}
.mail_baner{
    height: 40px;
    padding: 6px 24px 6px 10px;
    gap: 8px;
    border-radius: 24px 32px 0px 0px;
    opacity: 0px;
    background-color: #4F9652;
    cursor:pointer;
    display:-webkit-box;
    display:-ms-flexbox;
    display: flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    z-index:1001;
    position: static;
}
